<%= link_to "back", places_path %>
<div class="row">
  <div class="col s6">
    <h4><%= @place.name %></h4>
    <p><%= @place.region %></p>
    <div class="bottom">
      <p class="desc"><%= @place.description %></p>
    </div>
  </div>
  <div class="col s6">
    <%= image_tag @place.image, class: 'responsive-img' %>
  </div>
</div>
<div class="row">
  <h4>User submitted adventures</h4>
  <%= link_to "Add an adventure", new_place_adventure_path(@place) if can? :create, Adventure%>
  <ul class="collection">
    <% @place.adventures.each do |adventure| %>
      <li class="collection-item">
        <div >
          <strong><p class="adventure-name"><%= adventure.name %></p></strong>
          <p>Length: <%= adventure.days %> days</p>
          <p><%= adventure.description %></p>
          <p>Submitted by: <%= adventure.user.email %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
